<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>-->

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}


    {% assign pages_list = site.pages | sort:"order" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {% if node.sidenav %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.sidebartitle }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- The code below is used for manually entered links  -->
    <!--<span style='cursor:pointer;' onclick="javascript:var hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);"><a class="sidebar-nav-item">Annotate me</a></span>-->

  <!--
    <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>Annotate me</a>
    <script src="https://hypothes.is/embed.js" async></script>
  -->

    <!--<a class="sidebar-nav-item" href="" target="_blank">GitHub project</a>-->
  </nav>

  <div class="sidebar-item">
    <p>Previous Events</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="../{{ site.baseurl }}2022" target="_blank">US2TS 2022</a>
    <a class="sidebar-nav-item" href="../{{ site.baseurl }}2020" target="_blank">US2TS 2020</a>
    <a class="sidebar-nav-item" href="../{{ site.baseurl }}2019" target="_blank">US2TS 2019</a>
    <a class="sidebar-nav-item" href="../{{ site.baseurl }}2018" target="_blank">US2TS 2018</a>
  </nav>

  <div class="sidebar-item">
    <a href="https://twitter.com/us2ts?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @us2ts</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
